---
layout: default
---

<div class="home">

  <h1 class="page-heading">One</h1>
  <ul class="post-list">
      {% for post in site.posts %}
	{% if post.class == '英一' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	&nbsp;
	<span class="post-meta-day"> day {{ post.day }}  </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

 </div>
