---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p>
    <span class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	{{ page.date | date: "%b %-d, %Y" }}
	</time>
	{% if page.author %} • 
	<span itemprop="author" itemscope itemtype="http://schema.org/Person">
		<span itemprop="name">{{ page.author }}</span>
	</span>
	{% endif %}
	</span>
	    &nbsp;
	    {% if page.class %} <span class="post-meta-class"> {{ page.class }}  </span>{% endif %}
	    &nbsp;
	    {% if page.day %} <span class="post-meta-day"> day {{ page.day }}  </span>{% endif %}
    </p>

  </header>

  <div class="post-content" itemprop="articleBody">
	   <span class="edit-this-post">
	  <a href="https://github.com/MrArgote/spring16/edit/gh-pages/{{page.path}}">edit
	 <svg viewbox="0 0 512 512">
	<path d="m455.1,137.9l-32.4,32.4-81-81.1 32.4-32.4c6.6-6.6 18.1-6.6 24.7,0l56.3,56.4c6.8,6.8 6.8,17.9 0,24.7zm-270.7,271l-81-81.1 209.4-209.7 81,81.1-209.4,209.7zm-99.7-42l60.6,60.7-84.4,23.8 23.8-84.5zm399.3-282.6l-56.3-56.4c-11-11-50.7-31.8-82.4,0l-285.3,285.5c-2.5,2.5-4.3,5.5-5.2,8.9l-43,153.1c-2,7.1 0.1,14.7 5.2,20 5.2,5.3 15.6,6.2 20,5.2l153-43.1c3.4-0.9 6.4-2.7 8.9-5.2l285.1-285.5c22.7-22.7 22.7-59.7 0-82.5z"/>		   
	</svg>
	<!-- icon from freepik.com, flaticon.com, licensed by CC 3.0 BY  -->
	  </a>
	  </span>
    {{ content }}
  </div>

</article>
